---
import Layout from "@layouts/Layout.astro";
import Myself from "@components/Myself.astro";
import EsteemedColleagues from "@components/EsteemedColleagues.astro";
import Linkbox from "@components/Linkbox.astro";
import Projects from "@components/Projects.astro";
import Knowledge from "@components/Knowledge.astro";
import Status from "@components/Status.astro";
import underConstructionUrl from "@images/construction/under-construction-2.gif";
import cuppaUrl from "@images/jacks-cuppa/cuppa.png";
import muncsUrl from "@images/muncs/muncs.png";
import bonfireUrl from "@images/depth/bonfire.gif";
import bepisRockUrl from "@images/void/bepis-rock/bepis-rock.png";
import Piclog from "@components/Piclog.astro";
import Strava from "@components/Strava.astro";
import Tealog from "@components/Tealog.astro";
import AdevntOfCodeCountdown from "@components/AdevntOfCodeCountdown.astro";
import TamaNOTChi from "@components/TamaNOTChi.astro";

const lastModified = new Intl.DateTimeFormat("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
}).format(new Date());
---

<style>
  @font-face {
    font-family: "TT2020Style-B";
    src: url("/~jaharrhy/fonts/TT2020StyleB-Regular.woff2") format("woff2");
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fdf2fe;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  main {
    padding: 0 1rem 1rem 1rem;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: column;
  }

  .group {
    display: flex;
    margin: 2rem;
    gap: 1.5rem;
  }

  .right {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .linkbox,
  .projects,
  .colleagues {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
  }

  .to {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .to p {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.25rem;
  }

  .to-quotes {
    background-color: pink;
    color: aliceblue;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0 salmon;
    font-weight: 900;
    box-shadow: 0.25rem 0.25rem 0 salmon;
  }

  .to-void {
    height: 100%;
    background-color: black;
    color: limegreen;
    border: 10px inset rgba(255, 255, 255, 0.75);
  }

  .hiking-construction {
    width: 50%;
  }

  .to-hiking {
    display: flex;
    flex-direction: column;
    background-color: #bae6fd;
    color: black;
    font-family: sans-serif;
    border: 4px outset #d7f1ff;
  }

  .links {
    display: flex;
    justify-content: space-around;
    height: 7rem;
    padding: 0.25rem;
  }

  .links a {
    display: contents;
    color: black;
  }

  .link {
    display: flex;
    max-width: 12rem;
    align-items: center;
    gap: 0.5rem;
  }

  .links img {
    height: 100%;
  }

  .to-cuppa {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .knowledge {
    margin-bottom: 1rem;
  }

  .despacito {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 1rem 0;
  }

  .despacito p {
    margin: 0;
  }

  .construction {
    width: 24rem;
  }

  .created-modified {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-style: italic;
  }

  .created-modified img {
    height: 1rem;
    opacity: 0.1;
    transition: all 2s ease;
  }

  .created-modified img:hover {
    opacity: 1;
  }

  .depths-spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800vw;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .bonfire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    text-shadow: 2px 2px 0 orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
  }

  .bonfire img {
    margin-bottom: 1rem;
  }

  .bonfire p {
    margin: 0.5rem 0;
  }

  .depths {
    height: 100vh;
    padding: 2rem;
    background-color: black;
    background-image: url("../images/depth/pretty-flower.gif");
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .depths p {
    color: whitesmoke;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    text-shadow: 2px 2px 0px slateblue;
    font-size: 8rem;
  }

  .how-to-make-mun-page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    text-align: center;
  }
  .how-to-make-mun-page p {
    background-color: rgb(103, 200, 123);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin: 0 0 0.75rem 0;
  }

  .aoc {
    background-color: #0f0f23;
    color: #cccccc;
    margin: 0;
    padding: 0.5rem;
    font-family: monospace;
    text-align: center;
    text-shadow: 0 0 5px white;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .piclog {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gamedev {
    background-color: #cdc49a;
    font-family: "TT2020Style-B";
    border: 2px inset #cdc49a;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .gamedev:hover {
    border: 2px outset #cdc49a;
  }
  .gamedev-link {
    color: black;
    text-decoration: none;
  }

  .tamanotchi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  .tamanotchi p {
    margin: 0.75rem 0 0 0;
  }
</style>

<Layout title="~jaharrhy">
  <header>
    <Myself />
  </header>
  <main>
    <div class="group">
      <div class="left">
        <div class="colleagues">
          <Status />
          <a href="./quotes/" class="to to-quotes">
            <p>quotes</p>
          </a>
          <Tealog />
          <EsteemedColleagues />
          <a href="./aoc/" class="aoc">advent of code</a>
          <a href="./void/" class="to to-void">
            <p>enter the void</p>
          </a>
          <a href="./hikes/2023/oops/" class="to to-hiking">
            <img
              class="hiking-construction"
              src="http://textfiles.com/underconstruction/survivorjourneyconstruction_bar_rotate_md_wht.gif"
            />
            <p>hikes - 2023 - oops</p>
          </a>
          <div class="links">
            <a href="https://muncompsci.ca/">
              <div class="link to-muncs">
                <img src={muncsUrl} />
                <p>muncs</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="tamanotchi">
          <TamaNOTChi />
          <p>this is egg, please feed him</p>
        </div>
        <div class="linkbox">
          <Linkbox />
        </div>
        <a href="./gamedev/jams/gumpjam-aug2023/" class="gamedev-link">
          <div class="gamedev">gamedev - jams - gumpjam august 2023</div>
        </a>
        <div class="piclog">
          <Piclog />
        </div>
        <div class="aoc aoc-countdown">
          <AdevntOfCodeCountdown />
        </div>
        <div class="strava">
          <Strava />
        </div>
        <div class="links">
          <a href="./jacks-cuppa/">
            <div class="link to-cuppa">
              <img src={cuppaUrl} />
              <p>jacks cuppa</p>
            </div>
          </a>
        </div>
        <div class="projects">
          <Projects />
        </div>
      </div>
    </div>
    <a href="./how-to-make-mun-page/">
      <div class="how-to-make-mun-page">
        <p>how to make mun page</p>
      </div>
    </a>
    <div class="knowledge">
      <Knowledge />
    </div>
    <img class="construction" src={underConstructionUrl} />
    <div class="created-modified">
      <h5>
        Created: April 9th, 2019
        <br />
        Last Modified: {lastModified}
      </h5>
      <a href="./void/bepis-rock/">
        <img src={bepisRockUrl} />
      </a>
    </div>
  </main>
  <div class="depths-spacer">
    <div class="bonfire">
      <img src={bonfireUrl} />
      <p>hello travler, it seems you have been scrolling some time</p>
      <p>please take a rest to heal</p>
    </div>
  </div>
  <div class="depths">
    <p>im watching live train youtube rn</p>
  </div>
</Layout>
