---
import Layout from "@layouts/Layout.astro";
import kolokolovaSwoshUrl from "@images/kolokolova-swosh.gif";
import Back from "@components/Back.astro";
---

<style>
  body {
    background-color: pink;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  div {
    max-width: 50rem;
  }

  img {
    margin: 0.75rem auto 0 auto;
    width: 30rem;
    filter: drop-shadow(0 0 3px aliceblue);
  }

  blockquote {
    margin: 2.5rem 1rem;
    background-color: aliceblue;
    padding: 2rem;
    box-shadow: 1rem 1rem 0 salmon;
  }

  blockquote:first-of-type {
    margin-top: 1.5rem;
  }

  .at b {
    color: blue;
  }
</style>

<Layout title="~jaharrhy - labnet garden">
  <Back />
  <main>
    <blockquote>
      Budget is Tim
      <br />
      <i>does not have infinite moneies</i>
      <br />
      - Tim Oram, <i>CTSNL Slack</i>, <em> 2022</em>
    </blockquote>

    <blockquote>
      i think i literally bought 4 domain names in my sleep last night
      <br />
      <br />
      - mert, <i>Compsci Bois Discord</i>, <em> 2022</em>
    </blockquote>

    <blockquote>
      <b>@stack</b> can we give phapbot ban power? Past 10 phap he banishes you to
      the phap zone
      <br />
      <br />
      - <a href="../void/pit-of-ethan/">Ethan</a> Crann, <i
        >Compsci Bois Discord</i
      >, <em> 2022</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      no 2022 qoutes
      <br />
      <br />
      <a
        href="https://discord.com/channels/514110851016556567/562082884916084759/950538727258722354"
        >- Madison E,
        <i>MUNCS Society Discord</i>, <em> 2022</em>
      </a>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      meanwhile in jack's doc:
      <br />
      <br />
      bog bamp
      <br />
      bog bamp
      <br />
      bog bamp
      <br />
      <br />
      - z64, <i>Compsci Bois Discord</i>, <em> 2022</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>:, ( why does everything I love have to die</em>
      <br />
      <br />
      - <a href="../void/pit-of-ethan/">Ethan</a> Crann, <i
        >Compsci Bois Discord</i
      >, <em> 2021</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em
        >BUTTERFLY SWITCHES WOOO YEAH SO NICE FEELS GOOD<span
          style="color:purple;"
          >HI THERE THIS LOKS AWESOME AND IS SO MUCH FUN YEAH YEAH YEAH</span
        ><span style="color: orange;"
          >BING BONG JACK IS LETTING ME USE HIS COMPUTER KEYBOARD TO FUCK AROUND
        </span><span style="color: blue;"
          >BUTTERFLY SWITCHES RULE BOYS DROOL UNLESS UR JACK IN WHICH CASE YOURE
          AWESOME AND A GREAT FRIEND😾😾😾😾😾😾😾</span
        >
      </em>
      <br />
      <br />
      - Katie Hardy, <i>TextEdit</i>, <em> 2021</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote class="at">
      <em
        ><b>@Gump's Waking Up</b> dude are you alright, just listening to imagine
        dragons on groovy by yourself in the voice channel? odd behavior</em
      >
      <br />
      <br />
      - <a href="https://www.cs.mun.ca/~gjpower/">Gavin</a>, <i
        >Compsci Bois Discord</i
      >, <em> 2020</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>can't wait to see Mall Cop</em>
      <br />
      <br />
      - <a href="https://twitter.com/psherren/status/1187364444"
        >@psherren, <i>Twitter</i>, <em> 2009</em>
      </a>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em
        >:books: :grack: :wind_blowing_face: :police_car: :police_car:
        :police_car::woman_police_officer: :police_car: :helicopter:
        :man_police_officer: :man_police_officer: :man_police_officer:</em
      >
      <br />
      <br />
      - <a href="../void/the-stack/">Stack</a>, <i>Compsci Bois Discord</i>, <em
      >
        2020
      </em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>when are you gonna deallocate that memory jack</em>
      <br />
      <br />
      - <a href="../void/the-stack">Stack</a>, <i>Compsci Bois Discord</i>, <em>
        2020
      </em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em
        >Honestly if cache is so fast why don't we just make solid state drives
        out of cache</em
      >
      <br />
      <br />
      - Nathan MacNeil, <i>snap</i>, <em> 2019</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>Haha that moment when ur 40</em>
      <br />
      <em><i>40 be like</i></em>
      <br />
      <em><i>i love italics</i></em>
      <br />
      <br />
      - Katie Hardy, <i>DMs</i>, <em> 2019</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>do not look for the sequence</em>
      <br />
      <em>it is closely guarded</em>
      <br />
      <br />
      - Joshua Murphy, security man at Sequence Bio, <i>CTSNL Slack</i>, <em>
        2019
      </em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>Teledildonics</em>
      <br />
      <br />
      - <s>redacted</s>, <i>Compsci Bois Discord</i>, <em> 2019</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote class="at">
      <em
        >What are you talking about <b>@Nathan</b>, no one <b>@Nathaned</b> you.
        Why would someone <b>@Nathan</b>
        you, that would be rather rude. Oh! I see <b>@Nathan</b> , you think that
        Stephen was talking about you,
        <b>@Nathan</b>, not everything is about you <b>@Nathan</b>.</em
      >
      <br />
      <br />
      - Timothy Oram, <i>CTSNL Slack</i>, <em> 2019</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>wanna save my environment</em>
      <br />
      <br />
      - Nathan MacNeil, <i>Bluedrop Performance Learning Slack</i>, <em>
        2019
      </em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em
        >&#10056;&#127872; &#120001;&#119890;&#120009;&#120008;
        &#120005;&#120001;&#119990;&#120014;
        &#120007;&#120010;&#120003;&#119890;&#120008;&#119992;&#119990;&#120005;&#119890;
        &#120012;/&#120009;&#119998;&#120002;&#128158;&#120009;&#119997;&#120014;
        &#128525;&#120007;&#119990;&#120002; &#127872;&#10056;</em
      >
      <br />
      <br />
      - Myself, <em> 2019</em>
    </blockquote>

    <img src={kolokolovaSwoshUrl} />

    <blockquote>
      <em>minecraft is for 10 year olds</em>
      <br />
      <br />
      - Kyle Olmstead, <em> 2018</em>
    </blockquote>
  </main>
</Layout>
