---
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
import josDisgoUrl from "@images/void/jos/jos_disgo.jpg";
import josFlakUrl from "@images/void/jos/jos_flak.jpg";
import josGwabUrl from "@images/void/jos/jos_gwab.jpg";
import josOafUrl from "@images/void/jos/jos_oaf.jpg";
import josPanUrl from "@images/void/jos/jos_pan.jpg";
---

<style>
    body {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: darkgray;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    img {
        margin: 10rem auto;
        max-width: 50vw;
        border: 1rem inset gray;
    }

    img:first-of-type {
        margin: 0;
    }

    header {
        width: 100vw;
    }

    h1 {
        margin: 2rem 0 5rem 0;
        text-align: center;
        font-family: monospace;
        text-shadow: 0.1rem 0.1rem 6rem rgba(0, 0, 0, 0.5);
        font-size: 10rem;
        font-weight: 900;
    }
</style>

<Layout title="jos">
    <Back />
    <header>
        <h1>jos</h1>
    </header>
    <main>
        <img src={josDisgoUrl} title="disgo" />
        <img src={josFlakUrl} title="flak" />
        <img src={josGwabUrl} title="gwab" />
        <img src={josOafUrl} title="oaf" />
        <img src={josPanUrl} title="pan" />
    </main>
</Layout>