---
import Layout from "@layouts/Layout.astro";
import Back from "@components/Back.astro";
import colabUrl from "@images/void/nit-zone/COLAB.gif";
import fryUrl from "@images/void/nit-zone/fry4.png";
import nitoUrl from "@images/void/nit-zone/NITO.jpg";
import nitodUrl from "@images/void/nit-zone/NITOd.jpg";
import fry1Url from "@images/void/nit-zone/fry1.png";
import nitromeUrl from "@images/void/nit-zone/nitrome.gif";
import fry2Url from "@images/void/nit-zone/fry2.png";
import nitnitnitUrl from "@images/void/nit-zone/nitnitnitnitnitnit.jpg";
import nittyoUrl from "@images/void/nit-zone/nittyo.gif";
import flintUrl from "@images/void/nit-zone/flint.png";
import colaberation from "@images/void/nit-zone/COLABERATION.gif";
import fry3Url from "@images/void/nit-zone/fry3.png";
import crematoriumFlicktronicsUrl from "@images/void/nit-zone/CREMATORIUM_FLICKRONICS.gif";
import softwareUrl from "@images/void/nit-zone/software.jpg";
---

<style>
  body {
    margin: 0;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  header {
    width: 100vw;
    text-align: center;
    font-family: cursive;
    font-size: 3em;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1,
  h2 {
    color: white;
  }

  p {
    margin: 0;
    color: black;
  }

  h2 {
    opacity: 0.2;
  }

  img {
    margin: 1em;
    max-width: 100vw;
  }
</style>

<Layout title="the nit zone">
  <Back />
  <header>
    <h1>welcome to the nit zone</h1>
    <h2>
      please leave your shoes at the door do not bring dirt into here i just
      cleaned it like five minutes ago thanks enjoy
    </h2>
  </header>
  <main>
    <img src={colabUrl.src} />
    <img src={fryUrl.src} />
    <img src={nitoUrl.src} />
    <img src={nitodUrl.src} />
    <img src={fry1Url.src} />
    <img src={nitromeUrl.src} />
    <img src={fry2Url.src} />
    <img src={nitnitnitUrl.src} />
    <img src={nittyoUrl.src} />
    <img src={flintUrl.src} />
    <img src={colaberation.src} />
    <img src={fry3Url.src} />
    <img src={crematoriumFlicktronicsUrl.src} />
    <img src={softwareUrl.src} />
  </main>
</Layout>
